.accordion {
  &__container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__item {
    list-style: none;
    border-top: 1px solid gray;
    width: 100%;

    &:last-child {
      border-bottom: 1px solid gray;
    }
  }

  &__item-header {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      color: #1fab2e;
      cursor: pointer;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
  }

  &__collapsable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &--is-expanded {
      max-height: 300px;
      transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }

  &__icon {
    height: 18px;
    width: 18px;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &--is-expanded {
      transform: scaleY(-1);
    }
  }

  &__text {
    padding-bottom: 1.5rem;
  }
}
